@font-face {
  font-family: 'Georgia';
  src: url('../fonts/Georgia.woff2') format('woff2'),
  url('../fonts/Georgia.woff') format('woff'),
  url('../fonts/Georgia.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Arial';
  src: url('../fonts/ArialMT.woff2') format('woff2'),
  url('../fonts/ArialMT.woff') format('woff'),
  url('../fonts/ArialMT.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Georgia';
  src: url('../fonts/Georgia-Bold.woff2') format('woff2'),
  url('../fonts/Georgia-Bold.woff') format('woff'),
  url('../fonts/Georgia-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Arial';
  src: url('../fonts/Arial-ItalicMT.woff2') format('woff2'),
  url('../fonts/Arial-ItalicMT.woff') format('woff'),
  url('../fonts/Arial-ItalicMT.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
